doctype html
html
    head
        include ./head
    body
        include ./header
        div#wrap.panel
            div.panel-heading
                h3.panel-title="Welcome to Real-time Chatting Room"
            div.panel-body
                div#content

        form.bs-example.bs-example-form.controls
                .row
                    .col-lg-6
                        .input-group
                            span#basic-addon1.input-group-addon="UserName @ "
                            input#name.form-control(type="text" placeholder="Please enter your name!")
                .row
                    .col-lg-6
                        .input-group
                            input#field.span3(type="text" placeholder="Please enter your message!")
                            input#send.btn(type='button', value='Send')
        include ./footer
        
        script(src='/js/chat.js')
        script(src='/socket.io/socket.io.js')